<footer class='footer fixed-bottom py-3 bg-dark'>
  <div class='container text-center'>
    <span class='text-muted'>&copy; 2024 Restaurant Management System. All
      rights reserved.</span>
    <!-- Add social media links or additional footer content -->
  </div>
</footer>