<!-- views/partials/sidebar.hbs -->

<div class='sidebar'>
  <ul class='nav flex-column'>
    <li class='nav-item'>
      <a class='nav-link active' href='/dashboard'>Dashboard</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/reservations'>All Reservations</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/reservations/createReservation'>Create
        Reservation</a>
    </li>
    <!-- Add links to other reservation-related pages as needed -->
  </ul>
</div>